:root{
    --background: white;
    --nav:red;
    --navhover:darkred;
    --fontcolor: #383636;
}
body{
    padding: 0;
    margin: 0;
    background: var(--background);
    color: var(--fontcolor);
    font-family: "Gill Sans MT";
}
.container{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 100%;
    grid-template-areas:
        "head"
        "nav"
        "main"
        "foot";
}
header{
    grid-area: head;
    font-size: 50px;
    text-align: center;
    background-color: white;
}
.wappen{
    float: center;
    margin: 20px;
    max-width: 200px;
}
nav {
    display: flex;
    justify-content: center;
    background-color: red;
}
ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    marrgin: 0;
    background-color: red;
}
ul li {
    margin: 0 20px;
    background-color: red;
}
ul li a {
    text-decoration: none;
    color: #fff;
}
main{
    grid-area: main;
    text-align: justify;
    font-size: 22px;
    margin: 25px;
}
h1{
    text-align: center;
}
footer{
    grid-area: foot;
    text-align: center;
    padding: 20px;
    background: var(--nav);
    color: white;
}
li{
    float:left;
    margin-left: auto;
    margin-right: auto;
}
li{
    float:left;
}
li a{
    display: block;
    color: var(--fontcolor);
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    font-family: "Gill Sans MT";
    font-weight: 500;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--nav);
}
li a:hover {
    background-color: var(--navhover);
}
input[type="checkbox"] {
    display: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: none;
    flex-direction: column;
    justify-content: center;
}
.toggle_button {
    width: 30px;
    height: 23px;
    position: absolute;
    top: 25px;
    left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bar {
    height: 4px;
    width: 100%;
    background: var(--fontcolor);
}
#toggle_button:checked ~ ul {
    display: block;
}
@media screen and (max-width: 600px) {
    .main {
        font-size: 18px;
        text-align: justify;
    }
    li a {
        display: block;
        text-align: center;
        padding: 25px 24px;
        text-decoration: none;
        font-family: "Gill Sans MT";
        font-weight: 500;
        font-size: 16px;
    }
    li{
        float: none;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: none;
        flex-direction: column;
        justify-content: center;
    }
    .toggle_button {
        width: 30px;
        height: 23px;
        position: absolute;
        top: 25px;
        left: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .bar {
        height: 4px;
        width: 100%;
        background: var(--fontcolor);
    }
    #toggle_button:checked ~ ul {
        display: block;
    }
}